{% extends 'core/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<nav class="fixed flex items-center px-8 py-2 bg-blue-200 w-full">
  <div class="grow">
    <a class="navbar-brand" href="#">Chat-app</a>
  </div>
  <div class="flex space-x-4 ">
    
    {% if request.user.is_authenticated %}
    <a href="/logout" class="px-4 py-1 border-2 border-blue-700 hover:text-slate-300 hover:bg-blue-600 rounded-lg" type="button"> Logout </a>

    {% else %}
    <a href="/signup" class="px-4 py-1 bg-blue-700  hover:bg-blue-600 rounded-lg text-slate-300" type="button">Sign up</a>
        <a href="/login" class="px-4 py-1 border-2 border-blue-700 hover:text-slate-300 hover:bg-blue-600 rounded-lg" type="button"> Login </a>
      {% endif %}
      

  
  </div>

</nav>
{% endblock content %}